<div class="card">
  <div class="card-header">
    User Profile
    @if(fullName()) {
      for {{fullName()}}
    }
  </div>
  <div class="card-body">
    <form [formRoot]="userProfileForm"
          autocomplete="off">
      <div class="row">
        <label class="row-label"
               for="firstNameId">
          First Name
          @if (userProfileForm.firstName().required()) {
            <span class="text-danger">*</span>
          }
        </label>
        <div class="row-value">
          <input type="text"
                 class="form-control"
                 [formField]="userProfileForm.firstName"
                 id="firstNameId"
                 placeholder="First Name" />
        </div>
        @let fn = userProfileForm.firstName;
        @if (fn().invalid() && fn().touched()) {
          <div class="alert alert-danger">
            @for (error of fn().errors(); track error.kind) {
              <div>{{ error.message }}</div>
            }
          </div>
        }
      </div>

      <div class="row">
        <label class="row-label"
               for="lastNameId">
          Last Name
          @if (userProfileForm.lastName().required()) {
            <span class="text-danger">*</span>
          }
        </label>
        <div class="row-value">
          <input type="text"
                 class="form-control"
                 [formField]="userProfileForm.lastName"
                 id="lastNameId"
                 placeholder="Last Name" />
        </div>
        @let ln = userProfileForm.lastName;
        @if (ln().invalid() && ln().touched()) {
          <div class="alert alert-danger">
            @for (error of ln().errors(); track error.kind) {
              <div>{{ error.message }}</div>
            }
          </div>
        }
      </div>

      <div class="row">
        <label class="row-label">User Type</label>
        <div class="row-value radio-group">
          <label>
            <input type="radio"
                   class="radio-input"
                   [formField]="userProfileForm.userType"
                   value="employee" />
            Employee
          </label>
          <label>
            <input type="radio"
                   class="radio-input"
                   [formField]="userProfileForm.userType"
                   value="guest" />
            Guest
          </label>
        </div>
        @let en = userProfileForm.userType;
        @if (en().invalid() && en().touched()) {
          <div class="alert alert-danger">
            @for (error of en().errors(); track error.kind) {
              <div>{{ error.message }}</div>
            }
          </div>
        }
      </div>

      @if(!userProfileForm.employeeNumber().hidden()) {
      <div class="row">
        <label class="row-label"
               for="employeeNumberId">
          Employee #
          @if (userProfileForm.employeeNumber().required()) {
            <span class="text-danger">*</span>
          }
        </label>
        <div class="row-value">
          <input type="text"
                 class="form-control"
                 [formField]="userProfileForm.employeeNumber"
                 id="employeeNumberId"
                 placeholder="Employee Number" />
        </div>
        @let en = userProfileForm.employeeNumber;
        @if (en().invalid() && en().touched()) {
          <div class="alert alert-danger">
            @for (error of en().errors(); track error.kind) {
              <div>{{ error.message }}</div>
            }
          </div>
        }
      </div>
      }

      <div class="row">
        <div class="row-value">
          <button type="submit"
                  title="Ensure the form is valid and required fields are entered before saving"
                  class="btn btn-primary">
            Save Profile
          </button>
          <button type="button"
                  class="btn btn-secondary">
            Cancel
          </button>
        </div>
      </div>
    </form>
  </div>
</div>